main#content{
    .image-picker.square{
        width: 100%;

        label {
            padding: 4rem;
            border: 1px dashed var(--border);
            border-radius: var(--rad-sm);
            cursor: pointer;

            .placeholder{
                padding: 0;
                border: 0;
            }

            .files-list{
                display: flex;
                .image-wrapper{
                    position: relative;

                    .image{
                        width: 35rem;
                    }
                }
            }

            
        }
        
    }
}