header.site-header {
    box-shadow: var(--shadow-s);
    background: var(--bg);
    font-weight: 400;
    position: relative;
    z-index: 4;

    .top-header {
        border-bottom: 1px solid var(--border);
        font-size: var(--fz-small);

        .wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: var(--top-header);

            .left-block {
                display: flex;
                align-items: center;

                & > *:not(:last-child) {
                    margin-right: 6rem;
                }

            }

            .select-city {
                display: flex;
                align-items: center;
                cursor: pointer;
                font-weight: 600;
                transition: 0.2s;

                &:hover {
                    color: var(--theme);
                }

                .icon {
                    display: flex;
                    margin-right: 0.6rem;
                    color: var(--text-grey);
                }

                .arrow {
                    display: flex;
                    margin-left: 0.6rem;
                    font-size: 0.9rem;
                    color: var(--text-grey);
                }

            }

            nav {

                ul {
                    display: flex;

                    & > *:not(:last-child) {
                        margin-right: 2.5rem;
                    }
                    
                    li {

                        a {
                            color: var(--text-grey);
                            transition: 0.2s;

                            &:hover {
                                color: var(--text);
                            }

                        }

                    }

                }

            }

            .actions {
                display: flex;
                align-items: center;

                & > *:not(:last-child) {
                    margin-right: 4rem;
                }

                .action {
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    color: var(--text);
                    transition: 0.2s;

                    &:hover {
                        color: var(--theme);
                    }

                    &:before {
                        margin-right: 0.6rem;
                        color: var(--text-grey);
                    }

                }

            }

            .right-block {
                display: flex;

                .social {
                    display: flex;
                    align-items: center;
                    font-size: 1.6rem;

                    & > * {
                        display: flex;
                        color: var(--text-grey);

                        &:not(:last-child) {
                            margin-right: 1.5rem;
                        }

                    }

                }

                & > *:not(:last-child) {
                    margin-right: 3rem;
                }

            }

        }

    }

    .middle-header {
        border-bottom: 1px solid var(--border);

        .wrapper {
            display: flex;
            align-items: center;
            height: var(--middle-header);

            & > *:not(:last-child) {
                margin-right: 4rem;
            }

            .phone-wrapper {
                line-height: 1;

                .main-phone {
                    display: flex;
                    align-items: center;

                    &:before {
                        font-size: 2.5rem;
                        color: var(--text-grey);
                        margin-right: 1rem;
                    }

                    .phone {
                        display: flex;
                        align-items: center;
                        color: var(--text);
                        font-weight: 600;
                        transition: 0.2s;
                        font-size: var(--fz-large);
                        line-height: 1;
                        margin-bottom: 0.4rem;
    
                        &:hover {
                            color: var(--theme);
                        }
    
                        .arrow {
                            display: flex;
                            margin-left: 0.6rem;
                            color: var(--text-grey);
                            font-size: 0.6em;
                        }
    
                    }
    
                    .time {
                        color: var(--text-grey);
                        font-size: var(--fz-smaller);

                        &.request-btn {
                            cursor: pointer;
                            transition: 0.2s;
                            
                            &:hover {
                                color: var(--theme);
                            }

                        }

                    }

                }

            }

            .phone-block {
                display: flex;
                align-items: center;

                & > *:not(:last-child) {
                    margin-right: 3rem;
                }

            }

            .search-form {
                flex-grow: 1;
            }

            .logo-wrapper {
                display: flex;
                align-items: center;

                .text {
                    font-size: var(--fz-smaller);
                    color: var(--text-grey);
                }

            }

            .actions {
                display: flex;
                align-items: center;

                & > * {
                    display: flex;
                    font-size: 2.5rem;
                    color: var(--text-grey);
                    position: relative;
                    cursor: pointer;

                    &:after {
                        top: -0.7rem;
                        right: -0.4rem;
                    }

                    &:not(:last-child) {
                        margin-right: 3rem;
                    }

                    &:hover {
                        color: var(--text);
                    }

                }

            }

        }

    }

    .bottom-header {

        .wrapper {
            display: flex;
            height: var(--bottom-header);

            nav {
                width: 100%;

                & > ul {
                    height: 100%;
                    display: flex;

                    & > li {
                        flex-grow: 1;
                        position: relative;

                        & > a {
                            height: 100%;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: 600;
                            transition: 0.2s;
                            color: var(--text);

                            &:before {
                                content: '';
                                position: absolute;
                                transform: translateX(-50%);
                                width: 0;
                                left: 50%;
                                bottom: 0;
                                right: 0;
                                height: 3px;
                                border-radius: 3px 3px 0 0;
                                background: var(--theme);
                            }

                            &:after {
                                font-size: 1rem;
                                margin-left: 0.4rem;
                                opacity: 0.8;
                            }

                            &:hover {
                                background: var(--border);
                            }

                        }

                        ul {
                            position: absolute;
                            top: 100%;
                            width: fit-content;
                            left: 50%;
                            transform: translateX(-50%);
                            background: var(--bg);
                            box-shadow: var(--shadow-m);
                            padding: 0.6rem 0;
                            opacity: 0;
                            pointer-events: none;
                            transition: 0.4s;

                            &:not(.loaded) {
                                display: none;
                            }

                            li {

                                a {
                                    display: block;
                                    padding: 0.7rem 2rem;
                                    color: var(--text);
                                    white-space: nowrap;
                                    transition: 0.3s;

                                    &:hover {
                                        background: var(--border);
                                    }

                                }

                            }

                        }

                        &:hover {

                            ul {
                                opacity: 1;
                                pointer-events: all;
                            }

                        }

                        &.current-menu-item {

                            & > a {

                                &:before {
                                    width: 100%;
                                }

                            }

                        }

                    }

                }

            }

        }

    }

    .mobile-header {

        .wrapper {
            display: flex;
            align-items: center;
            height: var(--mobile-header);

            & > *:not(:last-child) {
                margin-right: 1.5rem;
            }

            .mobile-menu-btn {
                position: relative;
                width: 2rem;
                height: 2rem;

                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    height: 1.5px;
                    background: var(--text);
                    transform: translate(-50%, -50%);
                    transition: 0.2s;
    
                    &:first-child {
                        top: 10%;
                    }
    
                    &:last-child {
                        top: 90%;
                    }
    
                }
    
                &.active {
    
                    span {
    
                        &:first-child {
                            top: 50%;
                            transform: translate(-50%, -50%) rotate(45deg);
                        }
    
                        &:nth-child(2) {
                            opacity: 0;
                        }
    
                        &:last-child {
                            top: 50%;
                            transform: translate(-50%, -50%) rotate(-45deg);
                        }
    
                    }
    
                }

                &:hover {

                    span {
                        background: var(--theme);
                    }

                }

            }

            .logo {
                font-size: 2.2rem;
                font-weight: 700;
                color: var(--text);

                span {
                    color: var(--theme);
                }

            }

            .right-block {
                display: flex;
                align-items: center;
                margin-left: auto;
    
                & > *:not(:last-child) {
                    margin-right: 1.2rem;
                }

                .city {
                    display: flex;
                    align-items: center;
                    border: 1px solid var(--border);
                    padding: 0.5rem 0.6rem;
                    border-radius: var(--rad);
                    cursor: pointer;
                    transition: 0.3s;

                    &:hover {
                        background: var(--grey-bg);
                    }

                    .icon {
                        margin-right: 0.3em;
                        color: var(--theme);
                        font-size: 0.9em;
                    }

                    .name {
                        white-space: nowrap;
                        overflow: hidden;
                        max-width: 8rem;
                        text-overflow: ellipsis;
                    }

                }

                .phone-wrapper {
                    line-height: 1;
        
                    .main-phone {
                        display: flex;
                        align-items: center;
        
                        &:before {
                            font-size: 2.3rem;
                            color: var(--text-grey);
                            margin-right: 1rem;
                        }
        
                        .phone {
                            display: flex;
                            align-items: center;
                            color: var(--text);
                            font-weight: 600;
                            transition: 0.2s;
                            font-size: var(--fz-large);
                            line-height: 1;
                            margin-bottom: 0.4rem;
        
                            &:hover {
                                color: var(--theme);
                            }
        
                            .arrow {
                                display: flex;
                                margin-left: 0.6rem;
                                color: var(--text-grey);
                                font-size: 0.6em;
                            }
        
                        }
        
                        .time {
                            color: var(--text-grey);
                            font-size: var(--fz-smaller);

                            &.request-btn {
                                cursor: pointer;
                                transition: 0.2s;
                                
                                &:hover {
                                    color: var(--theme);
                                }
    
                            }

                        }
        
                    }
        
                }

                .actions {
                    display: flex;
                    align-items: center;

                    & > *:not(:last-child) {
                        margin-right: 1.5rem;
                    }

                    & > * {
                        font-size: 1.9rem;
                        color: var(--text);
                        display: flex;

                        &:hover {
                            color: var(--theme);
                        }

                    }

                }
    
            }

        }

    }

    .search-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background: var(--bg);
        border-bottom: 1px solid var(--border);
        transition: 0.3s;

        &:not(.show) {
            display: none;
        }

        .wrapper {
            padding-bottom: 1.5rem;
        }

    }

}

.fixed-header {
    position: fixed;
    z-index: 20;
    background: var(--bg);
    left: 0;
    top: var(--admin-bar);
    right: 0;
    transform: translateY(-100%);
    transition: 0.4s;
    display: none;

    .wrapper {
        display: flex;
        align-items: center;
        padding: 1.5rem 0;

        & > *:not(:last-child) {
            margin-right: 4rem;
        }

        .phone-wrapper {
            line-height: 1;

            .main-phone {
                display: flex;
                align-items: center;

                &:before {
                    font-size: 2.5rem;
                    color: var(--text-grey);
                    margin-right: 1rem;
                }

                .phone {
                    display: flex;
                    align-items: center;
                    color: var(--text);
                    font-weight: 600;
                    transition: 0.2s;
                    font-size: var(--fz-large);
                    line-height: 1;
                    margin-bottom: 0.4rem;

                    &:hover {
                        color: var(--theme);
                    }

                    .arrow {
                        display: flex;
                        margin-left: 0.6rem;
                        color: var(--text-grey);
                        font-size: 0.6em;
                    }

                }

                .time {
                    color: var(--text-grey);
                    font-size: var(--fz-smaller);

                    &.request-btn {
                        cursor: pointer;
                        transition: 0.2s;
                        
                        &:hover {
                            color: var(--theme);
                        }

                    }

                }

            }

        }

        .phone-block {
            display: flex;
            align-items: center;

            & > *:not(:last-child) {
                margin-right: 3rem;
            }

        }

        .search-form {
            flex-grow: 1;
        }

        .logo-wrapper {
            display: flex;
            align-items: center;

            .text {
                font-size: var(--fz-smaller);
                color: var(--text-grey);
            }

        }

        .actions {
            display: flex;
            align-items: center;

            & > * {
                display: flex;
                font-size: 2.5rem;
                color: var(--text-grey);
                position: relative;
                cursor: pointer;

                &:after {
                    top: -0.7rem;
                    right: -0.4rem;
                }

                &:not(:last-child) {
                    margin-right: 3rem;
                }

                &:hover {
                    color: var(--text);
                }

            }

        }

    }

    &.show {
        transform: none;
        box-shadow: var(--shadow-m);
    }

}

.fixed-btns {
    position: fixed;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%) translateX(100%);
    right: 0;
    background: var(--bg);
    border-radius: var(--rad-sm) 0 0 var(--rad-sm);
    overflow: hidden;
    display: none;
    transition: 0.3s;

    & > * {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--field-big);
        height: var(--field-big);
        color: var(--text) !important;
        transition: 0.2s;
        cursor: pointer;
        font-size: var(--fz-larger);

        &:not(:last-child) {
            border-bottom: 1px solid var(--border);
        }

        &:hover {
            background: var(--theme);
            color: #fff !important;
            border-color: transparent !important;
        }

    }

    &.show {
        transform: translateY(-50%);
        box-shadow: var(--shadow-s);
    }

}

.site-menu {
    position: fixed;
    z-index: 40;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    background: var(--bg);
    display: none;

    .wrapper {
        padding: var(--section-padding) 0;
        display: flex;

        .header {
            height: 5rem;
            display: flex;
            align-items: center;

            .site-branding {
                margin-right: 2rem;
            }

            .text {
                font-size: var(--fz-smaller);
                color: var(--text-grey);
            }

            .phone-wrapper {
                line-height: 1;
    
                .main-phone {
                    display: flex;
                    align-items: center;
    
                    &:before {
                        font-size: 2.5rem;
                        color: var(--text-grey);
                        margin-right: 1rem;
                    }
    
                    .phone {
                        display: flex;
                        align-items: center;
                        color: var(--text);
                        font-weight: 600;
                        transition: 0.2s;
                        font-size: var(--fz-large);
                        line-height: 1;
                        margin-bottom: 0.4rem;
    
                        &:hover {
                            color: var(--theme);
                        }
    
                        .arrow {
                            display: flex;
                            margin-left: 0.6rem;
                            color: var(--text-grey);
                            font-size: 0.6em;
                        }
    
                    }
    
                    .time {
                        color: var(--text-grey);
                        font-size: var(--fz-smaller);

                        &.request-btn {
                            cursor: pointer;
                            transition: 0.2s;
                            
                            &:hover {
                                color: var(--theme);
                            }

                        }

                    }
    
                }
    
            }

        }

        .menu-body {
            width: 0;
            flex-grow: 1;
            padding-right: var(--section-padding);

            .taxonomies {
                display: flex;

                .line {
                    display: flex;
                    flex-wrap: wrap;
                    width: calc(100% + 5rem);
                    margin: -2.5rem;
                }

                .taxonomy {
                    width: calc((100% / var(--taxonomies)) - 5rem);
                    margin: 2.5rem;

                    a {
                        display: block;
                        color: var(--text);
                    }

                }

            }

        }

        .menu-sidebar {
            width: 26rem;
        }

    }

}

.mobile-menu {
    position: fixed;
    top: calc(var(--admin-bar) + var(--mobile-header));
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    background: var(--bg);
    display: none;
    border-top: 1px solid var(--border);

    .mobile-menu-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;

        .mobile-menu-header {
            border-bottom: 1px solid var(--border);

            .wrapper {
                display: flex;
                align-items: center;
                height: var(--mobile-header);
    
                & > *:not(:last-child) {
                    margin-right: 2rem;
                }
    
                .close-mobile-menu-btn {
                    width: 2.4rem;
                    display: flex;
                    justify-content: center;
                    font-size: 2rem; 
                    cursor: pointer;
                    transition: 0.3s;
    
                    &:hover {
                        color: var(--theme);
                    }
    
                }
    
                .right-block {
                    display: flex;
                    align-items: center;
                    margin-left: auto;
        
                    & > *:not(:last-child) {
                        margin-right: 3.5rem;
                    }
    
                    .phone-wrapper {
                        line-height: 1;
            
                        .main-phone {
                            display: flex;
                            align-items: center;
            
                            &:before {
                                font-size: 2.3rem;
                                color: var(--text-grey);
                                margin-right: 1rem;
                            }
            
                            .phone {
                                display: flex;
                                align-items: center;
                                color: var(--text);
                                font-weight: 600;
                                transition: 0.2s;
                                font-size: var(--fz-large);
                                line-height: 1;
                                margin-bottom: 0.4rem;
            
                                &:hover {
                                    color: var(--theme);
                                }
            
                                .arrow {
                                    display: flex;
                                    margin-left: 0.6rem;
                                    color: var(--text-grey);
                                    font-size: 0.6em;
                                }
            
                            }
            
                            .time {
                                color: var(--text-grey);
                                font-size: var(--fz-smaller);

                                &.request-btn {
                                    cursor: pointer;
                                    transition: 0.2s;
                                    
                                    &:hover {
                                        color: var(--theme);
                                    }
        
                                }

                            }
            
                        }
            
                    }
    
                    .actions {
                        display: flex;
                        align-items: center;
    
                        & > *:not(:last-child) {
                            margin-right: 2rem;
                        }
    
                        & > * {
                            font-size: 2.2rem;
                            color: var(--text);
                            display: flex;
    
                            &:hover {
                                color: var(--theme);
                            }
    
                        }
    
                    }
        
                }
            }

        }

        .mobile-menu-body {
            height: 0;
            flex-grow: 1;
            overflow: auto;

            .search-wrapper {
                padding: 2rem 2.5rem;
                background: var(--grey-bg);
            }

            & > *:not(:last-child) {
                border-bottom: 1px solid var(--border);
            }

            .sep {
                height: 2rem;
                background: var(--grey-bg);
            }

            nav {

                &.grey {
                    background: var(--grey-bg);
                }

                li {

                    a,
                    &.item {
                        display: flex;
                        align-items: center;
                        padding: 1.2rem 2.5rem;
                        font-weight: 500;
                        color: var(--text);
                        transition: 0.2s;
                        position: relative;

                        &:hover {
                            color: var(--theme);
                        }

                        .icon {
                            margin-right: 0.6rem;
                            color: var(--text-grey);
                            display: flex;

                            &:before {
                                font-weight: 600;
                            }

                        }

                        .mobile-menu-item-toggler {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0 1.5rem;
                            font-size: 0.7em;
                            color: var(--text-grey);
                            cursor: pointer;

                            &:before {
                                font-weight: 600;
                            }

                            &.active {
                                transform: rotate(180deg);                                
                            }

                        }

                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid var(--border);
                    }

                    ul {
                        display: none;
                        border-top: 1px solid var(--border);

                        li {

                            a,
                            &.item {
                                padding: 1.2rem 2.5rem 1.2rem 5rem;
                            }

                        }

                    }

                    .count {
                        display: flex;
                        margin-left: 0.5rem;
                        min-width: 2.2rem;
                        height: 2.2rem;
                        text-align: center;
                        background: var(--theme);
                        color: #fff;
                        justify-content: center;
                        align-items: center;
                        border-radius: 1.2rem;
                        font-size: var(--fz-smaller);
                        padding: 0 0.3rem;
                    }

                }

            }

            .contacts {
                padding: 2.5rem;

                .contacts-item {
                    display: flex;
                    align-items: baseline;
                    color: var(--text);

                    &.large {
                        font-size: var(--h3);
                        font-weight: 600;
                    }
    
                    &:before {
                        margin-right: 1rem;
                        color: var(--text-grey);
                    }
    
                }
    
                a.contacts-item:hover {
                    color: var(--text-grey);
                }

            }

        }

    }

}

@media (max-width: 767.99px) {

    header.site-header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
    }

}

@media (min-width: 768px) and (max-width: 1024.99px) {

    header.site-header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
    }

}

@media (max-width: 1399px) and (min-width: 1025px) {

}